body{
    background-color: silver;
}

/*si hay un punto al inicio es una clase*/
.contenedor {
    color: black;
    background-color: white;
    width: 1000px;
    margin: 1px auto;
    height: auto;
        /*No poner height, esta que la defina el contenido*/
}
.contenido{
    padding: 1%;
}

/*Si hay un # al inicio, es un id */
#cabecera-titulo{
    background-color: midnightblue;
    color: white;
    text-align: right;
    margin: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 	#CCCC99;
}

li {
    float: left;
    font-size: 15px;
}

li a {
    display: block;
    text-align: center;
    padding: 12px 13px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: gray;
}

.active {
    background-color: green;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: left;
}
#autor{
    display:block;
    margin: auto;
    padding: 20px;
    border-radius: 50%;
}
img{
    display:block;
    margin: auto;
}
p{
    text-align: justify;
}
.cita{
    font-style: oblique;
    padding: 1% 10% 1% 10%;
}
.piecita{
    font-style: oblique;
    padding: 1% 10% 1% 10%;
    text-align: right;
}
.scroll{
    padding: 1%;
    height:500px;
    overflow:scroll;
    font-family: Arial, Helvetica, sans-serif;
}
#scrollautor{
    padding: 1%;
    height:600px;
    overflow:scroll;
}
#glosario1{
    padding: 5px; 
}

